
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
}

body{
    background:#0f0f0f;
    color:#e0e0e0;
}

.navbar{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#1a1a1a;
    box-shadow:0 3px 10px rgba(0,0,0,0.3);
    z-index:100;
}

.navbar h2.logo{
    color:#6c63ff;
}

.navbar nav a{
    margin-left:20px;
    text-decoration:none;
    color:#e0e0e0;
}

.navbar nav a:hover{
    color:#6c63ff;
}
#menu-button{
    display:none;
    font-size: 2rem;
    cursor:pointer;
}

.hero{
    text-align: center;
    padding: 140px 20px 80px;
}

.hero h1{
    color: #6c63ff;
    font-size:3rem;
}

.hero p{
    color: #cccccc;
    margin-top: 10px;
    font-size :1.7rem;
}

.section h2{
    color:#6c63ff;
    margin-bottom: 21px;
    text-align:center;
}
.card{
    background:#1a1a1a;
    color:#e0e0e0;
    padding:26px;
    border-radius:12px;
    max-width:700px;
    margin:21px auto;
    box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

.timeline{
    max-width:600px;
    margin:auto;
    border-left:3px solid #6c63ff;
    padding-left:20px;
}

.timeline-item{
    margin:25px 0;
}

.timeline-dot{
    width:12px;
    height:12px;
    background:#6c63ff;
    border-radius:50%;
    position:relative;
    left:-27px;
    top:20px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.project-card, .skill-card{
    background: #1a1a1a;
    padding:25px;
    border-radius: 12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.3);
    transition:0.3s;
}

.project-card:hover, .skill-card:hover{
    margin-top: -8px;
}

.tags span{
    background: #333;
    color:#e0e0e0;
    padding:5px 10px;
    margin:5px;
    border-radius:5px;
    display:inline-block;
}
.highlight{
    background:#6c63ff;
    color:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
}
.contact-box{
    background:#1a1a1a;
    max-width:500px;
    margin:30px auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.4);
    text-align:left;
}

.contact-box p{
    margin:15px 0;
    font-size:1.6rem;
}

.contact-box a{
    color:#6c63ff;
    text-decoration:none;
}

.contact-box a:hover{
    text-decoration:underline;
}

@media(max-width:768px){
    .navbar nav{
        display:none;
    }
    #menu-button{
        display:block;
    }
}
